# Core functionality - changes here should be rare!
/src/app.py                   @apoorvgpt9
/src/backend/database.py      @apoorvgpt9
/src/backend/routers/auth.py  @apoorvgpt9

# The frontend will need refactored soon to be more object oriented.
/src/static/   @apoorvgpt9
